/* common sheard style */
body{
 
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
.text-primary{
    color: orange;
}
 
.btm-primary{
    color: white;
    border-radius: 5px;
    background: orange;
    border: 0;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;




}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{

    color: #181818;
    font-size: 45px;
    font-weight: 800;
 }

 nav >ul{
    display: flex;
    align-items: center;
 }
 nav li{
    list-style: none;
    margin-right: 50px;
 }

 nav a{
    text-decoration: none;
    color:rgb(15, 15, 15);
 }